The site is all about destinations you can visit.
Normal users can make posts that have images and can be liked.
Users can view other users pictures and have friends.
Users get a feed of random travelling sites they can visit + a feed of their friends posts.
Destinations on the site appear on a globe structure where you can explore even without being logged in.
Destinations can be edited by Admins


Design should be simple

-Home screen where you can explore destinations and such.
-Login/Register button in nav bar that goes to login/register page.
-Logged in users can see others' posts and interact with them.
-Logged in users can also make posts.


some Entities:

Users:

-UserID
-Name
-Country
-Email
-Password
-Birthdate
-Phone
-Role
(can be admins)


Friends:

-FriendsID
-UserID1
-UserID2
-Friendship Date start


Posts:

-PostID
-UserID
-Name
-Description
-Likes (0 initiallty)
-Image(s)



Destinations: (Made by admins)

-DestinationID
-Image
-Description
-Name