*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



/* Home Section and Navigation */

#home{
    height: 100vh;
    background-image: url(../Images/Hiker_back.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid #FFF;
}

nav{
    background-color: #E0DFD5;
    height: 50px;
    opacity: 0.8;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.nav-links{

    display: flex;
    flex-basis: 66%;
    justify-content: space-evenly;
}

nav ul{
    list-style: none;
    display: flex;
    font-size: 16px;
    align-items: center;
}
nav ul li{
    display: inline;
    margin: 0 10px;

}
nav ul li a{
    color: #373E40;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #EE6352;
    transition: 0.3s;
}

nav img{
    width: 180px;
    height: 50px;
}


nav i{
    color: #FFF;
    transform: scale(1.5);
    right: 0;
    top: 0;
    margin: 20px; 
    position: absolute;
    visibility: hidden;
}


.nav-btns a {
    color: #373E40;
    background-color: white;
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 3px;
    border-radius: 10px;
    margin: 0 10px;
    transition: 0.5s;

}
.nav-btns a:hover{
    transition: 0.5s;
    color: #FFF;
    background-color: #EE6352;
    border-color: #EE6352;
}

#home h1{
    text-align: center;
    width: 50%;
    margin-top: 200px;
    font-size: 72px;
    color: #EE6352;
}
#home p{
    margin: 20px;
    margin-left: 5%;
    color: #373E40;
    font-size: 22px;
    width: 40%;
    text-align: center;
}



#home button
{
    margin-top: 100px;
    margin-left: 19%;
}

.hero-btn{
    text-align: center;
    width: 160px;
    height: 50px;
    padding: 5px;
    color: #FFF;
    background-color: #EE6352;
    border: 1px solid #EE6352;
    border-radius: 2px;
    transition: 0.5s;
}


.hero-btn:hover{
    color:#EE6352;
    background-color: #FFF;
    transition: 0.5s;
}



/* Explore Section */

#explore{
    height: 100vh;
}


/* Responsiveness */

@media screen and (max-width: 1400px){

}



@media screen and (max-width: 1200px){


}



@media screen and (max-width: 1000px) {



 
}



@media screen and (max-width: 800px) {
    

    /* Hamburger Menu */

    nav i{
        visibility: visible;
    }

    #curtain-2{
        width: 240px;
        right: -240px;
        background-color: #3FA7D6;
    }
    .nav-curtain{
        position: fixed;
        height: 100vh;
        background-color: #373E40;
        width: 220px;
        right: -220px;  
        top: 0px;
        transition: 0.8s;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        background-color: #E0DFD5;
        width: 200px;
        right: -200px;    
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 70px;
        transition: 0.8s;
    }


    nav ul{
        list-style: none;
        display: block;
        align-items: center;
        font-size: 20px;
    }
    nav ul li{
        display: block;
        margin: 20px 10px;
    }


    .nav-btns{
        margin-top: 50vh;
    }


    /* Home Section */
    


    #home{
        background-image: url(../Images/Hiker_back_phone.jpg);
        background-position: left;
        text-align: center;
    }


    #home h1{
        width: 100%;
        margin-top: 20%;
    }
    #home p{
        margin: 20px auto;
        border-radius: 20px;
        background-color: rgba(250, 249, 249, 0.8);
        box-shadow: 0px 0px 10px 3px #E0DFD5;
        color: #242829;
        width: 80%;
        padding: 40px 20px;
    }
    
    
    
    #home button
    {
        margin-top: 60px;
        margin-left: 0;
    }
    
 


}



@media screen and (max-width: 700px) {


}

