*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


#home{
    height: 100vh;
    background-color: aliceblue ;
    background-image: url(../Images/Hiker_back.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    background-color: #E0DFD5;
    height: 50px;
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    font-size: 16px;
    align-items: center;
}
nav ul li{
    display: inline;
    margin: 0 10px;

}
nav ul li a{
    color: #373E40;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #EE6352;
    transition: 0.3s;
}

nav img{
    width: 180px;
    height: 50px;
}

.nav-btns a {
    color: #373E40;
    background-color: white;
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 3px;
    border-radius: 10px;
    margin: 0 10px;
    transition: 0.5s;

}
.nav-btns a:hover{
    transition: 0.5s;
    color: #FFF;
    background-color: #EE6352;
    border-color: #EE6352;
}

#home h1{
    text-align: center;
    width: 50%;
    margin-top: 200px;
    font-size: 72px;
    color: #EE6352;
}
#home p{
    margin: 20px;
    margin-left: 5%;
    color: #373E40;
    font-size: 22px;
    width: 40%;
    text-align: center;
}



#home button
{
    margin-top: 100px;
    margin-left: 19%;
}

.hero-btn{
    text-align: center;
    width: 160px;
    height: 50px;
    padding: 5px;
    color: #FFF;
    background-color: #EE6352;
    border: 1px solid #EE6352;
    border-radius: 2px;
    transition: 0.5s;
}


.hero-btn:hover{
    color:#EE6352;
    background-color: #FFF;
    transition: 0.5s;
}




