@{
    ViewData["Title"] = "Home";
}

<section id="home">

    <h1>TraveLog</h1>
    <p>
        A website tailored for travellers, Explore amazing destinations all over
        the world and memorize your journeys, what are you waiting for, join us
        now!
    </p>
    <button class="hero-btn">Become a TraveLogger!</button>
</section>
