@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav-btns">
@if (SignInManager.IsSignedIn(User))
{

@*     <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
 *@
@*     <a style="cursor: pointer;">Hello @UserManager.GetUserName(User)</a>
 *@        <a>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">Logout</button>
            </form>
        </a>
    }
else
{


     <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
     <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
</ul>
